.services-container {
  width: 1240px;
  color: #fff;
  margin: 0 auto;
  margin-top: 160px;

  .services-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .services-our {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.01em;
      text-align: center;
      width: 100%;
    }
    .services-perfect {
      font-size: 55px;
      font-weight: 700;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
    .services-title {
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      width: 811px;
      color: rgba(200, 200, 200, 0.763);
      margin-top: -30px;
    }
  }
  .services-category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    .category-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 269px;
      width: 262px;
      box-sizing: border-box;
      border-radius: 30px;
      border: 1px solid rgba(255, 255, 255, 0.097);
      padding: 34px 53px;
      margin-bottom: 50px;
      &:hover {
        animation: flip 1s linear;
        box-shadow: 2px 2px 15px 4px rgba(135, 1, 1, 0.336);
        cursor: pointer;
      }
      span {
        display: inline-block;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 38px;
          color: black;
        }
      }
      p {
        width: 100%;
        text-align: center;
      }
    }
    .item-1 {
      background-color: #e2e2e2;
    }
    .item-2 {
      background-color: #ff4646;
    }
    .item-3 {
      background-color: #8eea77;
    }
    .item-4 {
      background-color: #ffb21a;
    }
    .item-5 {
      background-color: #0384c6;
    }
    .item-6 {
      background-color: #14cc9e;
    }
    .item-7 {
      background-color: #ff007f;
    }
    .item-8 {
      background-color: #8f9bb3;
    }
  }
}

 @keyframes flip {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(1.2) rotate3d(1, 1, 0, -180deg);
            transform: scale(1.2) rotate3d(1, 1, 0, -280deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
            transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}


@media (min-width: 768px) and (max-width: 1200px) {
  .services-container {
    width: 100%;
  }
  .services-text {
    .services-our {
      font-size: 22px !important;
    }
    .services-perfect {
      font-size: 45px !important;
    }
    .services-title {
      font-size: 18px !important;
    }
  }
}

@media (min-width: 368px) and (max-width: 767.9px) {
  .services-container {
    width: 100%;
  }

  .services-text {
    margin-top: -90px !important;
    margin: 30px;
    .services-our {
      font-size: 18px !important;
    }
    .services-perfect {
      font-size: 35px !important;
    }
    .services-title {
      font-size: 14px !important;
    }
  }
  .services-category {
    justify-content: space-around !important;
    .category-item {
      margin-bottom: 10px !important;
    }
  }
}
