.command-container {
  width: 1240px;
  margin: 0 auto;

  .command-command {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }
  .command-our {
    text-align: center;
    color: #fff;
    font-size: 55px;
    font-weight: 700;
  }
  .command-image {
    display: flex;
    justify-content: space-between;
    position: relative;
    span {
      height: 402px;
      width: 565px;
      border-radius: 24px;
      img {
        width: 100%;
      }
    }

    .command-image-title {
      width: 610px;
      color: #fff;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.01em;
        text-align: left;
      }
      .command-button {
        border-radius: 24px;
        height: 48px;
        transition: all 0.5s;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        &:hover {
          cursor: pointer;
          background-color: white;
          color: black;
        }
        i {
          margin-right: 10px;
        }
      }
    }
    .command-nuqta {
      position: absolute;
      top: -30px;
      left: -30px;
      z-index: -1;
    }
    .command-nuqta1 {
      position: absolute;
      bottom: -30px;
      right: 645px;
      z-index: -1;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .command-container {
    width: 100%;
  }
  .command-our {
    font-size: 50px !important;
  }
  .command-image {
    span {
      height: 0px !important;
      width: 50% !important;
      margin-right: 20px !important;
    }

    .command-image-title {
      width: 50% !important;
      p {
        font-size: 16px !important;
      }
      .command-button {
        height: 40px !important;
        width: 180px !important;
      }
    }
    .command-nuqta {
      position: absolute;
      top: -30px;
      left: -30px;
      z-index: -1;
    }
    .command-nuqta1 {
      bottom: -10px !important;
      right: 445px !important;
    }
  }
}

@media (min-width: 368px) and (max-width: 767.9px) {
  .command-container {
    width: 100%;
    margin-top: -400px !important;
  }
  .command-image {
    display: block !important;
  }
  .command-our {
    font-size: 28px !important;
  }
  .command-image {
    span {
      img {
        display: block !important;
        width: 70% !important;
        margin: 0 auto !important;
      }
    }

    .command-image-title {
      width: 65% !important;
      display: block !important;
      margin: 0 auto !important;
      p {
        font-size: 14px !important;
        text-align: center !important;
      }
      .command-button {
        height: 30px !important;
        font-size: 14px !important;
        width: 150px !important;
        margin: 0 auto !important;
      }
    }
    .command-nuqta {
      position: absolute;
      top: -20px !important;
      left: 50px !important;
      z-index: -1;
      width: 15% !important;
    }
    .command-nuqta1 {
      width: 15% !important;
      top: 170px !important;
      right: 45px !important;
    }
  }
}
