*{
  box-sizing: border-box;
  transition: all 0.5s !important;
}
.portfolio-container {
  width: 1240px;
  margin: 0 auto;
  color: #fff;

  .portfolio-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .portfolio-our {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      width: 100%;
      margin-top: 70px;
    }
    .portfolio-what {
      width: 100%;
      font-size: 55px;
      font-weight: 700;
      text-align: center;
      margin-top: -10px;
    }
    .portfolio-title {
      width: 674px;
      font-size: 20px;
      margin-top: -40px;
      font-weight: 400;
      text-align: center;
    }
  }
  .portfolio-images {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;

    .portfolio-img {
      width: 350px;
      height: 350px;
      transition: all 1s;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    .nuqta {
      position: absolute;
      top: -110px;
      right: -10px;
      transform: rotate(160deg);
      z-index: -1;
    }
    .nuqta1 {
      position: absolute;
      top: 110px;
      right: 740px;
      transform: rotate(25deg);
      z-index: -1;
    }
  }
  .portfolio-button {
    height: 48px;
    width: 226px;
    border-radius: 24px;
    border: 1px solid #fff;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: black;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .portfolio-container {
    width: 100%;
  }

  .portfolio-text {
    .portfolio-our {
      font-size: 22px !important;
    }
    .portfolio-what {
      font-size: 45px !important;
    }
    .portfolio-title {
      font-size: 18px !important;
    }
  }
  .portfolio-images {
    margin: 10px;
  }
  .portfolio-img {
    width: 280px !important;
    margin: 20px;
    height: 280px !important;
    transition: all 1s;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

@media (min-width: 368px) and (max-width: 767.9px) {
  .portfolio-container {
    width: 100%;
  }

  .portfolio-text {
    margin: 15px;
    .portfolio-our {
      font-size: 19px !important;
    }
    .portfolio-what {
      font-size: 35px !important;
    }
    .portfolio-title {
      font-size: 15px !important;
      margin: -25px 20px !important;
    }
  }
  .portfolio-images {
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-around !important;
  }
  .portfolio-img {
    width: 70% !important;
    margin: 20px;
    height: 70% !important;
    transition: all 1s;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .portfolio-button{
    height: 38px !important; 
    width: 186px !important;
  }

  .nuqta, .nuqta1{
    display: none;
  }
}

.block {
  display: flex !important;
  transition: all 0.5s !important;
}
.hidden {
  display: none !important;
  transition: all 0.5s !important;
}