.about-container {
  width: 1240px;
  margin: 0 auto;
  color: #fff;

  .about-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 150px;
  }
  .about-title1 {
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
  }
  .about-comment {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 60px;
    .comment-nuqta,
    .comment-nuqta1 {
      position: absolute;
      bottom: -25px;
      right: -30px;
      transform: rotate(30deg);
      z-index: -1;
    }
    .comment-nuqta1 {
      transform: rotate(20deg);
      top: -200px;
      left: 140px;
    }
    .header-image-comment {
      box-sizing: border-box;
      height: 335px;
      width: 380px;
      color: #fff;
      border-radius: 16px;
      display: flex;
      flex-wrap: wrap;
      padding: 50px 40px;
      background-color: #0b0f15;
      transition: all 0.5s;
      &:hover {
        box-shadow: 2px 4px 11px 5px #a3a3a35e;
        cursor: pointer;
      }
      .comment-header {
        width: 100%;
        display: flex;
        span {
          display: flex;
          flex-wrap: wrap;
          b {
            font-size: 20px;
            margin-top: 12px;
          }
          p {
            font-size: 11px;
            margin-top: -20px;
            font-weight: 600;
            line-height: 8px;
            letter-spacing: 0.01em !important;
            color: #e2e2e286;
          }
        }
        img {
          width: 70px;
          height: 70px;
          margin-right: 30px;
        }
      }
      .comment-footer {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.01em;
        text-align: left;

        color: #e2e2e2;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .about-container{
    width: 100%;
  }
  .about-title1 {
    font-size: 45px !important;
  }

  .about-comment {
    .header-image-comment {
      height: 255px !important;
      width: 280px !important;
      .comment-header {
        width: 100%;
        display: flex;
        span {
          display: flex;
          flex-wrap: wrap;
          b {
            font-size: 17px !important;
            margin-top: 10px !important;
          }
          p {
            font-size: 11px;
            margin-top: 5px !important;
          }
        }
        img {
          width: 50px !important;
          height: 50px !important;
        }
      }
      .comment-footer {
        font-size: 16px !important;
      }
    }
  }
}


@media (min-width: 368px) and (max-width: 767.9px) {
  .about-container{
    width: 100%;
  }
  .about-title1 {
    font-size: 30px !important;
  }

  .comment-nuqta,
  .comment-nuqta1{
    display: none
  }

  .about-comment {
    flex-wrap: wrap;
    justify-content: space-around !important;
    .header-image-comment {
      width: 280px !important;
      padding: 25px !important;
      margin-bottom: 20px !important;
      .comment-header {
        width: 100%;
        display: flex;
        span {
          display: flex;
          flex-wrap: wrap;
          b {
            font-size: 17px !important;
            margin-top: 10px !important;
          }
          p {
            font-size: 11px;
            margin-top: 5px !important;
          }
        }
        img {
          width: 55px !important;
          height: 55px !important;
        }
      }
      .comment-footer {
        font-size: 16px !important;
      }
    }
  }
}

