.contact-container {
  width: 1240px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 30px;

  .contact-title {
    font-size: 52px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 200px;
  }
  .contact-text {
    width: 870px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: -30px;
  }
  .contact-inputs {
    .input-four {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 40px;
      width: 1055px;
      margin: 0 auto;
      .input1,
      .input2,
      .input3,
      .input4 {
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid #fff;
        margin: 13px 0px;
        background: transparent;
        color: white;
        font-size: 20px;
      }
      .input1,
      .input3 {
        color: #3cf74f;
        border-bottom: 1px solid;
      }
      .input2,
      .input4 {
        color: #19bcfe;
        border-bottom: 1px solid;
      }
    }
    .input-message {
      width: 1085px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      input {
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid #fff;
        margin: 13px;
        background: transparent;
        color: white;
        font-size: 20px;
      }
      p {
        margin-left: 14px;
        margin-top: 22px;
      }
    }
  }
  .contact-button {
    display: flex;
    justify-content: flex-end;
    width: 1148px;
    margin-bottom: 100px;

    span {
      border-radius: 24px;
      padding: 12px 50px 12px 50px;
      border: 1px solid #fff;
      transition: all 0.5s;

      &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px){
  .contact-container{
    width: 100%;
  }

  .contact-title {
    font-size: 45px !important;
  }
  .contact-text {
    width: 570px !important;
  }
  .input-four{
    width: 80% !important;
  }
  .contact-button {
    width: 90% !important;
    span {
      padding: 12px 40px 12px 40px !important;
    }
  }
}

@media (min-width: 268px) and (max-width: 767.9px){
  .contact-container{
    width: 100%;
  }

  .contact-title {
    font-size: 35px !important;
    margin-top: 0px !important;
  }
  .contact-text {
    width: 370px !important;
    font-size: 14px !important;
  }
  .input-four{
    width: 80% !important;
    margin-top: 20px !important;
  }
  .contact-button {
    width: 90% !important;
    span {
      padding: 8px 30px 8px 30px !important;
    }
  }
}
