.header-container {
  width: 1240px;
  margin: 0 auto;
  .header-title {
    margin: 0 auto;
    width: 749px;
    height: 174px;
    font-size: 55px;
    font-weight: 800;
    line-height: 87px;
    letter-spacing: 1%;
    color: #e2e2e2;
    text-align: center;
    margin-top: 78px;
  }
  animation: text 0.5s linear;
  @keyframes text {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }

  .header-mini-title {
    margin: 0 auto;
    width: 760px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1%;
    color: #e2e2e2;
    text-align: center;
    opacity: 60%;
    margin-top: 24px;
  }
  .header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    width: 201px;
    border-radius: 24px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 32px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background-color: rgb(203, 203, 203);
    }
  }

  .header-image-container {
    width: 100%;
    height: 510px;
    margin: 90px 0px;
    padding-bottom: 180px;

    .header-image {
      width: 739px;
      height: 501px;
      margin: 0 auto;
      position: relative;
      .rasm {
        width: 100%;
      }
      .frame {
        background-color: #0d0d0d;
        color: white;
        position: absolute;
        top: 10px;
        left: -130px;
        width: 180px;
        padding: 10px;
        border-radius: 15px;
        padding-top: 20px;
        align-items: center;
        span {
          display: flex;
          font-size: 20px;
          i {
            color: yellow;
            margin-right: 10px;
          }

        }p{
          font-size: 20px;
        }
      }
    }
    .header-image-comment {
      box-sizing: border-box;
      height: 166px;
      width: 166px;
      background-color: #0d0d0d;
      color: #fff;
      border-radius: 16px;
      position: absolute;
      bottom: -5px;
      right: -110px;
      display: flex;
      flex-wrap: wrap;
      padding: 25px 20px;
      .comment-header {
        width: 100%;
        display: flex;
        span {
          display: flex;
          flex-wrap: wrap;
          b {
            font-size: 10px;
            margin-top: 8px;
          }
          p {
            font-size: 6px;
            margin-top: -1px;
            font-weight: 600;
            line-height: 8px;
            letter-spacing: 0.01em !important;
            color: #e2e2e286;
          }
        }
        img {
          border-radius: 50%;
          width: 32px;
          height: 32px;
          margin-right: 10px;
        }
      }
      .comment-footer {
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.2px;
        text-align: left;
        color: #e2e2e2;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .header-container {
    width: 100%;
  }
  .header-title {
    width: 570px !important;
    height: 114px !important;
    font-size: 40px !important;
    line-height: 50px !important;
  }
  .header-mini-title {
    width: 580px !important;
    font-size: 18px !important;
  }
  .header-button {
    height: 40px !important;
    width: 170px !important;
  }

  .header-image-container {
    width: 100%;
    .header-image {
      width: 70% !important;
      .rasm {
        width: 100%;
      }
      .frame {
        width: 30% !important;
      }
    }
  }
}

@media (min-width: 268px) and (max-width: 767.9px) {
  .header-container {
    width: 100%;
  }
  .header-title {
    width: 300px !important;
    height: 84px !important;
    font-size: 22px !important;
    line-height: 40px !important;
  }
  .header-mini-title {
    width: 330px !important;
    font-size: 14px !important;
  }
  .header-button {
    height: 35px !important;
    width: 150px !important;
    margin-top: 50px !important;
  }

  .header-image-container {
    width: 100%;
    margin-bottom: 230px !important;
    .header-image {
      width: 70% !important;
      .rasm {
        width: 100%;
      }
      .frame {
        width: 42% !important;
        left: -70px !important;
        padding-left: 18px !important;
        span {
          font-size: 10px !important;
          i {
            color: yellow;
            margin-right: 10px;
          }

        }p{
          font-size: 10px !important;
        }
      }
    }
  }
  .header-image-comment {
    width: 40% !important;
    height: 24% !important;
    right: -30px !important;
    bottom: 230px !important;
    padding: 8px !important;

    .comment-footer {
      font-size: 7px !important;
    }
  }
}
