* {
  transition: all 0.5s;
}
.nav-container {
  width: 1240px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 20px;

  .nav-ul {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    .nav-li {
      color: #fff;
      // border: 1px solid #fff;
      font-size: 18px;
      line-height: 24px;
      // margin-right: 50px;
      transition: all 0.5s;
      width: 83px;
      height: 21px;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }
  .nav-logo {
    margin-right: 248px;
  }
  .nav-contact {
    span {
      width: 185px;
      height: 48px;
      border-radius: 30px;
      border: 1px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      margin-left: 198px;
      transition: all 0.5s;
      font-weight: 700;
      &:hover {
        background-color: #fff;
        color: black;
        cursor: pointer;
      }
    }
  }
  transition: all 0.5s !important;
}
.nav-mobile {
  display: none !important;
  transition: all 0.5s !important;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .nav-container {
    width: 100%;
  }
  .nav-contact {
    span {
      width: 185px !important;
      margin-left: 0px !important;
    }
  }
  .nav-li {
    margin-right: 0px;
  }
  .nav-logo {
    margin-right: 20px !important;
  }
}

@media (min-width: 384px) and (max-width: 767.9px) {
  .nav-container {
    width: 100%;
    flex-wrap: wrap;
    transition: all 0.5s !important;
  }
  .nav-ul {
    display: none !important;
  }

  .nav-contact {
    display: flex;
    span {
      width: 125px !important;
      height: 35px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
      margin-top: 3px !important;
    }
  }
  .nav-logo {
    margin-right: 20px !important;
  }
  .bar {
    width: 50px;
    color: #fff;
    font-size: 45px;
    margin-left: 10px;
    transition: all 0.5s !important;
    &:hover {
      cursor: pointer;
    }
  }

  .nav-mobile {
    transition: all 0.5s !important;
    margin-bottom: 100px !important;
    width: 100%;
    .nav-ul-mobile {
      transition: all 0.5s !important;
      color: #fff;
      list-style: none;
      .nav-li-mobile {
        transition: all 0.5s !important;
        margin-bottom: 20px;
        transition: all 0.5s;
        &:hover {
          transition: all 0.5s !important;
          cursor: pointer;
          transform: translate(20px);
        }
      }
    }
  }

  .block {
    display: block !important;
    transition: all 0.5s !important;
  }
  .hidden {
    display: none !important;
    transition: all 0.5s !important;
  }

  .dur {
    transition: all 1s !important;
  }
}
