.footer-section {
  margin: 0px !important;
  background: #383638;
  .footer-container {
    width: 1240px;
    height: 550px;
    margin: 0 auto;

    .main-footer {
      padding-top: 132px;
      display: flex;
      justify-content: space-between;

      .footer-logo {
        width: 187px;
        height: 88px;
        border-radius: 20px;
        background-color: #e2e2e2;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      ul {
        list-style: none;
        margin-top: -1px;
        li {
          font-size: 18.73px;
          line-height: 23px;
          color: #fff;
          margin-bottom: 23px;
          transition: all 0.5s;
          &:hover {
            cursor: pointer;
            transform: translate(10px);
          }
        }
      }
      .footer-ul-1 {
        width: 172px;
        height: 119px;
      }
      .footer-ul-2 {
        width: 102px;
        height: 165px;
      }
      .footer-ul-3 {
        width: 190px;
        height: 119px;
      }
      .footer-ul-4 {
        width: 202px;
        height: 96px;
      }
    }
    .footer-icons {
      width: 500px;
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 100px;

      .icons {
        display: flex;
        justify-content: space-around;
        width: 500px;
        border-bottom: 1px solid #fff;
        i {
          margin-bottom: 10px;
          font-size: 40px;
          color: #fff;
        }
      }
      p {
        color: #fff;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .footer-container {
    width: 100% !important;
  }

  .main-footer {
    flex-wrap: wrap;
    .footer-ul-1 {
      width: 172px;
      height: 119px;
    }
    .footer-ul-2 {
      width: 102px;
      height: 165px;
    }
    .footer-ul-3 {
      width: 190px;
      height: 119px;
    }
    .footer-ul-4 {
      width: 202px;
      height: 96px;
    }
  }
}

@media (min-width: 268px) and (max-width: 767.9px) {
  .footer-container {
    width: 100% !important;
    height: 100% !important;
  }

  .main-footer {
    flex-wrap: wrap;
    justify-content: space-around !important;
    .footer-ul-1,
    .footer-ul-2,
    .footer-ul-3,
    .footer-ul-4,
    .footer-logo {
      width: 270px !important;
      height: 100% !important;
      margin: 10px !important;
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.193);
      padding: 25px;
    }
  }
  .footer-icons {
    width: 80% !important;
    .icons {
      i {
        margin-bottom: 10px;
        font-size: 40px;
        color: #fff;
      }
    }
    p {
      color: #fff;
      text-align: center;
    }
  }
}
